{% extends 'core/base.html' %}

{% block content %}

<div class="card shadow p-4 text-center mx-auto" style="max-width: 680px">

    <h3 class="mb-3">Correo enviado</h3>

    <div class="alert alert-success"> ✔ Se ha enviado un correo con las instrucciones para restablecer tu contraseña. </div>

    <p class="text-muted"> Revisa tu bandeja de entrada o carpeta de spam. 
    </p>
    
    <div class="mt-3">
        <a href="{% url 'login' %}" class="btn btn-primary mt-3">
            Volver al inicio de sesión
        </a>
    </div>

</div>

{% endblock %}