
<!-- Herencia de la plantilla base -->
{% extends "core/base.html" %}
<!-- Inicio del bloque de contenido -->
{% block content %}
<!-- contenedor -->
<div class="container mt-4">

    <h2>Mi Carrito</h2>

    <!-- si hay productos -->
    {% if items %}
    <!-- se genera la tabla -->
    <table class="table align-middle">

        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th style="width:160px;">Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <!-- ciclo para recorrer todos los productos del carrito -->
            {% for item in items %}
            <!-- se guarda el id del producto (luego será utilizado por JS) -->
            <tr data-id="{{ item.id }}">

                <td>
                    <!-- se carga la imagen del producto -->
                    <img src="{{ item.producto.imagen.url }}"
                         width="70"
                         style="object-fit:cover;">
                </td>
                <!-- se carga el nombre del producto -->
                <td>{{ item.producto.nombre }}</td>

                <td style="width: 180px;">
                    <div class="input-group">
                        <!-- boton para disminuir la cantidad del producto -->
                        <button class="btn btn-outline-secondary btn-sm btn-restar">-</button>
                        <!-- muestra la cantidad actual. con el limite menor que es 1 y el limite mayor que es la cantidad del stock -->
                        <input type="number"
                               class="form-control text-center cantidad-input"
                               value="{{ item.cantidad }}"
                               min="1"
                               max="{{ item.producto.stock }}"
                               step="1">
                        <!-- boton para aumentar la cantidad del producto -->
                        <button class="btn btn-outline-secondary btn-sm btn-sumar">+</button>

                    </div>

                    <!-- Mensaje de stock -->
                    <!-- se muestra cuando el usuario sobrepasa el stock -->
				    <small class="text-danger stock-msg d-none">
				        Stock disponible: {{ item.producto.stock }}
				    </small>
                </td>
                <!-- se carga el precio del producto -->
                <td>${{ item.producto.precio }}</td>
                <!-- se calcular el subtotal del producto (que esta en el modelo) -->
                <td class="subtotal">${{ item.subtotal }}</td>

                <td>
                    <!-- boton eliminar -->
                    <button class="btn btn-danger btn-sm btn-eliminar">
                        🗑
                    </button>
                </td>

            </tr>
            {% endfor %}

        </tbody>

    </table>

    <div class="d-flex justify-content-between align-items-center mt-4">
    	<!-- Botón Seguir Comprando -->
    	<a href="{% url 'lista_productos' %}" class="btn btn-outline-primary">
        	← Seguir comprando
    	</a>
        <!-- se carga el total -->
    	<div class="text-end">
        	<h4 class="mb-3">
            	Total: $<span id="total-general">{{ total }}</span>
        	</h4>

        	<!-- Botón Finalizar Compra -->
        	<a href="{% url 'finalizar_compra' %}" class="btn btn-success">
                Finalizar compra
            </a>
    	</div>

	</div>
    <!-- si el carrito esta vacio -->
    {% else %}
        <div class="alert alert-warning">
            Tu carrito está vacío.
        </div>
    {% endif %}

</div>

{% endblock %}


{% block scripts %}
<script>
/* carga del html */
document.addEventListener("DOMContentLoaded", function(){
    /* evento de escucah-> clic */
    document.addEventListener("click", function(e){

        /* busca donde fue el evento (busca la fila) */
        const fila = e.target.closest("tr");
        /* si no encuentra la fila no hace nada */
        if (!fila) return;

        /* obtine el id del producto */
        const itemId = fila.dataset.id;
        /* busca el campo donde esta la cantidad */
        const input = fila.querySelector(".cantidad-input");
        /* busca el campo donde esta el subtotal */
        const subtotalCell = fila.querySelector(".subtotal");
        /* busca el campo del total del carrito */
        const totalGeneral = document.getElementById("total-general");

        /* cuando se da clic en sumar. verifica la cantidad actual, que no supere el stock y si puede suma 1 */
        if (e.target.classList.contains("btn-sumar")) {

            /* lee la cantidad actual */
		    let cantidad = parseInt(input.value);
		    /* lee el maximo permitido del stock */
            let max = parseInt(input.max);
            /* busca el mensaje oculto cuando se supera el stock */
		    const stockMsg = fila.querySelector(".stock-msg");

            /* si no supera el stock */
		    if (cantidad < max) {

		        cantidad++;
                /* se actualiza la cantidad del producto */
		        actualizar(itemId, cantidad);

		    } 

            else {

        		/* Mostrar mensaje cuando llega al máximo*/
		        stockMsg.classList.remove("d-none");
                /*muestra el mensaje por 2.5 segundos*/
		        setTimeout(() => {
		            stockMsg.classList.add("d-none");
		        }, 2500);
		    }
		}

       /* cuando se da clic en restar. reduce la cantidad y nunca puede ser menor que 1 */
        if (e.target.classList.contains("btn-restar")) {
            /* lee la cantidad actual */
            let cantidad = parseInt(input.value);

            /* si la cantidad es mayor a 1 */
            if (cantidad > 1) {
                cantidad--;
                /* se actualiza la cantidad del producto */
                actualizar(itemId, cantidad);
            }
        }

        /* boton eliminar del carrito, elimina la fila, actualiza el total y el contador */
        if (e.target.classList.contains("btn-eliminar")) {
            /* petición del servidor a través del método POST */
            fetch(`/carrito/eliminar/${itemId}/`, {
                method: "POST",
                headers: { 
                    /* Token de seguridad */
                    "X-CSRFToken": getCookie("csrftoken"),
                }
            })
            .then(res => res.json())
            /* respuesta del servidor */
            .then(data => {
                if (data.success) {
                    /* si todo es correcto elimina la fila */
                    fila.remove();
                    /* actualiza el total */
                    totalGeneral.textContent = data.total;

                    const contador = document.getElementById("carrito-contador");

                    if (data.total_items > 0) {
                        /* actualiza el contador del carrito */
                        contador.textContent = data.total_items;
                    } else {
                        /* se oculta */
                        contador.style.display = "none";
                    }
                }
            });
        }

    });

    /* si el usuario escribe la cantidad de forma manual */
    document.addEventListener("change", function(e){
        /* se ejecuta cuando se cambie la cantidad */
        if (!e.target.classList.contains("cantidad-input")) return;
         /* busca donde fue el evento (busca la fila) */
        const fila = e.target.closest("tr");
        /* obtine el id del producto */
        const itemId = fila.dataset.id;
        /* lee el maximo permitido del stock */
        const max = parseInt(e.target.max);
        /* lee la cantidad que ingreso el usuario */
        let cantidad = parseInt(e.target.value);

        /* si se ingresa algo diferente a un numero o es negativo lo cambia por un 1 */
        if (isNaN(cantidad) || cantidad < 1) {
            cantidad = 1;
        }

        /* si la cantidad supera el stock */
        if (cantidad > max) {
            /* ajusta la cantidad solicitada a la cantidad maxima del stock */
		    cantidad = max;
            /* busca el mensaje oculto cuando se supera el stock */
		    const stockMsg = fila.querySelector(".stock-msg");
            /* Mostrar mensaje cuando llega al máximo*/
		    stockMsg.classList.remove("d-none");
            /* se carga el mensaje por 2.5 seg */
		    setTimeout(() => {
		        stockMsg.classList.add("d-none");
		    }, 2500);
		}

        e.target.value = cantidad;
        /* actualiza la cantidad */
        actualizar(itemId, cantidad);

    });

    /* funciona actualiza la cantidad */
    function actualizar(id, cantidad){
    /* se llama a la vista de actualizar d Django enviando el id del producto */
    fetch(`/carrito/actualizar/${id}/`, {
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
            "Content-Type": "application/x-www-form-urlencoded"
        },
        /* se envía la nueva cantidad */
        body: `cantidad=${cantidad}`
    })
    .then(res => res.json())
    .then(data => {

        const fila = document.querySelector(`tr[data-id='${id}']`);
        const input = fila.querySelector(".cantidad-input");
        const stockMsg = fila.querySelector(".stock-msg");

        if (data.success) {

            input.value = cantidad;
            /* se actualiza el subtotal */
            fila.querySelector(".subtotal").textContent = "$" + data.subtotal;
            /* se actualiza el total */
            document.getElementById("total-general").textContent = data.total;

            // Oculta mensaje si estaba visible
            stockMsg.classList.add("d-none");

        } else {

            // Mostrar mensaje de stock
           	stockMsg.classList.remove("d-none");

            // Opcional: volver al máximo permitido
            input.value = input.max;
        }
    });
}

    /* funcion para obtener el token de seguridad de Django */
    function getCookie(name) {
        /* se crea la variable cookievalue */
        let cookieValue = null;
        /* si existen cookies guardadas en el navegador */
        if (document.cookie) {
            /* selecciona todas las cookies las separa con ; y las recorre*/
            document.cookie.split(';').forEach(cookie => {
                /* se eliminan los espacios */
                cookie = cookie.trim();
                /* busca conincidencias de la cookie a buscar con las de la lista*/
                if (cookie.startsWith(name + '=')) {
                    /* se extrae el valor de la cookie */
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                }
            });
        }
        return cookieValue;
    }

});
</script>
{% endblock %}